<% if !logged_in? %>
  <h1>Please <%= link_to 'login', login_path %>, signup, or <%= link_to 'login via Facebook', '/auth/facebook' %> to view your cards</h1>

<% else %>
  <h1>Welcome <%= current_user.name %></h1>
<% end %>